@charset "utf-8";
/* CSS Document */
a {
	font-size:1.3em
}
a:link, a:active, a:visited, a:hover {
	color:black;
}
body {
	font-family:"Courier New", Courier, monospace;
	font-size:.8em;
}
h1, h2, h3 {
	text-align:center;
}
h2 {
	margin:0;
	padding:0;
}
h4 {
	text-decoration:underline;
}
li ul {
	margin-top:0;
}
p {
	margin:0;padding:0
}
ul {
	margin-top:.15em;
}
ul, li {
	list-style:disc;
}
.clearboth {
	clear:both;
}
.content {
	width:60em;
}
.fleft {
	float:left;
}
.left {
	text-align:left;
}
.leftside {
	margin:.6em 2em;
}
.pretext {
	font-size:1.2em;
}
.thinborder {
	border:1px solid black;
}